.resultLinks {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 3rem;
}

.results {
  background: #ffffff;
  padding: 11px 27px;
  width: auto;
  height: auto;
  border-radius: 7px;
  display: flex;
  column-gap: 6rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 1px 17px;
}

.leftResults {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.shortLink2 {
  color: cyan;
}

.copyBtn {
  border-radius: 5px;
}
